html{
scroll-behavior: smooth;
}
/* h1{
 color: blue;
 font-family: "Comic Sans MS", cursive, sans-serif;
 font-size: 30px;
 letter-spacing: 5px;
 text-align: center;
 font-weight: bold;
 position:relative;
 top: -70px;
} */
scroll-page {
display: flex;
align-items: baseline;
justify-content: center;
height: 700%;
font-size: 5em;
overflow: auto;
font-family: cursive;
color: black;
letter-spacing: 50px;
font-style: italic;
font-weight: 100;
}
.main {
margin: auto;
background: black;
background-repeat: no-repeat;
position:relative;
margin-left: auto;
margin-top: -110px;
}
::-webkit-scrollbar{
display: none;
}
.carousel-caption d-none d-md-block {
image-rendering: pixelated;
position: relative;
bottom: 300px;
}
.carousel-item {
image-rendering: pixelated;
}
body {
background-color: black;
margin:auto;
}
#carouselExampleCaptions{
top: -80px;
}


.topnav {
background-color: black;
letter-spacing: 2px;
margin-bottom: 50px;
padding: 5px;
text-decoration: none;
margin-right: 0;
}
.topnav a {
padding: 14px 16px;
color: white;
margin-left: 7px;
float: left;
font-size: 18px;
text-decoration: none;
}
.topnav a:hover {
font-weight: 700;
text-decoration: none;
}

/* .searchContainer{
margin: 0;
padding: 0;
margin-top: 6px;
} */
#movie-name {
margin-left: 0;
position: relative;
top: 10px;
margin-right: 7px;
float: right;
}
#searchButton {
position:relative;
height: 2%;
width: 2%;
filter: invert(1);
top: 15px;
margin-right: 15px;
float: right;
margin-left: 0;
margin-top: -3px;
}

#title {
  padding: 0px 16px;
  color: white;
  margin-left: 100px;
  float: left;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}
