/* .hide {
  display: hidden;
}
.show {
  display: block;
} */

body {
      /* margin-left: 100px; */
      /* margin-right: 150px; */
      /* margin-top: 100px; */
      /* margin-bottom: 100px; */
      /* padding: 70px 0; */

      margin: auto;
      max-width: 1000px;
}

img {
  float: left;
  width: 38%;
  height: 38%;
  margin-right: 0;
  margin-bottom: 100px;
}

.words {
  padding-left: 5%;
  margin-bottom: 0px;
}

#showTitle {
  font-size: 40px;
  margin-top: 0px;
  overflow: auto;
}

#showInfo {
  font-size: 22px;
  margin-top: 15px;
  overflow: auto;
}

#showSummary {
  font-size: 14px;
  margin-right: 40px;
  overflow: auto;
}

.row {
  display: flex;
}

.column {
  /* margin-top: 20px; */
  flex: 50%;
  /* padding: 5%; */
  margin-bottom: 0px;
  margin-left: 20px;
}

#trailerText {
  padding-top: 8%;
  padding-left: 10%;
  font-size: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}

#showTrailer {
  padding-left: 10%;
  margin-left: 0;
  width: 85%;
  height: 100%;
  margin-bottom: 0px;
  margin-right: 0;
  padding-top: 0;
}

#showLocation {
  display: none;
}

#googleMap {
  margin-top: 10px;
  margin-left: 0px;
  height: 145%;
  width: 90%;
}
